name: Release Assets

on:
  release:
    types:
      - created

jobs:
  build:
    name: Build and upload
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
            os: ubuntu-latest
          - goos: linux
            goarch: arm64
            os: ubuntu-latest
          - goos: windows
            goarch: amd64
            os: windows-latest
          - goos: windows
            goarch: arm64
            os: windows-latest
          - goos: darwin
            goarch: amd64
            os: macos-13
          - goos: darwin
            goarch: arm64
            os: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Tidy modules
        run: go mod tidy

      - name: Build app
        shell: bash
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          TAG: ${{ github.ref_name }}
        run: |
          BINARY_NAME="watch-${TAG}-${GOOS}-${GOARCH}"
          if [ "$GOOS" = "windows" ]; then
            go build -v -o "${BINARY_NAME}.exe" .
          else
            go build -v -o "${BINARY_NAME}" .
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: watch-${{ matrix.goos }}-${{ matrix.goarch }}
          path: watch-${{ github.ref_name }}-${{ matrix.goos }}-${{ matrix.goarch }}*

  publish-assets:
    name: Publish assets
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: artifacts

      - name: Publish to release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*/*
